.rkgttr-stories-container .icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.rkgttr-stories-container .stories {
  width: 100%;
  height: 100%;
}

.rkgttr-stories-container * {
  position: relative;
}

.rkgttr-stories-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background-color: #000;
  z-index: 9988;
  display: none;
}

.rkgttr-stories-container .close {
  z-index: 6;
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
}

.rkgttr-stories-container.shown {
  display: block;
}

.rkgttr-stories-container .stories .controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-size: cover;
  background-position: center;
}

.rkgttr-stories-container .stories .controls .seek-bars {
  position: absolute;
  top: 4rem;
  left: 0.75rem;
  right: 0.75rem;
  height: 0.25rem;
  padding-left: 0.25rem;
  display: flex;
}

@media only screen and (min-width: 1024px) {
  .rkgttr-stories-container .stories .controls .seek-bars {
    top: 1rem;
  }
}

.rkgttr-stories-container .stories .controls .seek-bars .seek {
  width: 100%;
  margin-right: 0.25rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.rkgttr-stories-container .stories .controls .seek-bars .seek .seeker {
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform-origin: 0 0;
  transform: scaleX(0.0001);
}

.rkgttr-stories-container .stories iframe {
  z-index: 2;
}

.rkgttr-stories-container .stories iframe.hidden {
  opacity: 0;
}

.rkgttr-stories-container .stories .story {
  position: absolute;
  width: 100vw;
  height: 140%;
  top: -20%;
  left: 0;
}

@media (max-aspect-ratio: 0.5555555556) {
  .rkgttr-stories-container .stories .story {
    width: 130vw;
    left: -15vw;
  }
}

@media only screen and (min-width: 1024px) {
  .rkgttr-stories-container .stories .story {
    width: 100%;
    left: 0;
  }
}

.rkgttr-stories-container .stories .story-container {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: scale(0.5);
  opacity: 0.5;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-width: 100%;
  overflow: hidden;
}

.rkgttr-stories-container .stories .story-container .bgd {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  filter: blur(15px);
  opacity: 0.5;
  background-size: cover;
  background-position: center;
}

.rkgttr-stories-container .stories .story-container.empty {
  opacity: 0;
}

.rkgttr-stories-container .stories .story-container.current-story {
  transform: none;
  opacity: 1;
}

.rkgttr-stories-container .stories .story-container.current-story .controls {
  z-index: 1;
  background-image: none !important;
}

.rkgttr-stories-container .stories .story-container.current-story .controls.p {
  z-index: 5;
}

@media only screen and (min-width: 1024px) {
  .rkgttr-stories-container .stories .story-container {
    border-radius: 0.5rem;
    height: 90vh;
    width: 51vh;
    min-width: 0;
    margin-top: 5vh;
  }
}