.rkgttr-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.rkgttr-stories {
  width: 100%;
  height: 100%;
}

.rkgttr-stories-container * {
  position: relative;
}

.rkgttr-stories-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background-color: #000;
  z-index: 9988;
  display: none;
}

.rkgttr-close {
  z-index: 6;
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
}

.rkgttr-shown {
  display: block;
}

.rkgttr-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-size: cover;
  background-position: center;
}

.rkgttr-seek-bars {
  position: absolute;
  top: 4rem;
  left: 0.75rem;
  right: 0.75rem;
  height: 0.25rem;
  padding-left: 0.25rem;
  display: flex;
}



.rkgttr-seek {
  width: 100%;
  margin-right: 0.25rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.rkgttr-seeker {
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform-origin: 0 0;
  transform: scaleX(0.0001);
}

.rkgttr-stories iframe {
  z-index: 2;
}

.rkgttr-stories iframe.rkgttr-hidden {
  opacity: 0;
}

.rkgttr-stories-container .rkgttr-story {
  position: absolute;
  width: 100vw;
  height: 140%;
  top: -20%;
  left: 0;
}



.rkgttr-story-container {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: scale(0.5) !important;
  opacity: 0.5;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-width: 100%;
  overflow: hidden;
}

.rkgttr-bgd {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  filter: blur(15px);
  opacity: 0.5;
  background-size: cover;
  background-position: center;
}

.rkgttr-story-container.rkgttr-empty {
  opacity: 0;
}

.rkgttr-story-container.rkgttr-current-story {
  transform: none !important;
  opacity: 1;
}

.rkgttr-story-container.rkgttr-current-story .rkgttr-controls {
  z-index: 1;
  background-image: none !important;
}

.rkgttr-story-container.rkgttr-current-story .rkgttr-controls.rkgttr-p {
  z-index: 5;
}


.rkgttr-stories-bar .rkgttr-story {
  position: relative;
  border: none;
  width: 17vw;
  min-width: 17vw;
  min-height: 17vw;
  box-sizing: content-box;
  padding: 0;
  background: none;
  transition: box-shadow 0.2s ease;
}

.rkgttr-stories-bar .rkgttr-story * {
  position: relative;
}

.rkgttr-stories-bar .rkgttr-story:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 17vw;
  border-radius: 50%;
  transform: scale(1.1);
  border-top: 2px solid #000;
  border-left: 2px dotted #000;
  border-bottom: 2px dashed #000;
  border-right: 2px dotted #000;
  animation: rkgttr-loading 1s linear infinite;
}

.rkgttr-stories-bar .rkgttr-story .rkgttr-img {
  border-radius: 50%;
  overflow: hidden;
  height: 17vw;
  width: 100%;
}

.rkgttr-stories-bar.no-swiper .stories-bar-swiper-wrapper {
  flex-wrap: wrap;
  gap: 20px 20px;
}



.rkgttr-stories-bar .rkgttr-story.rkgttr-loaded:after {
  display: none;
}

.rkgttr-stories-bar .rkgttr-story.rkgttr-loaded:focus .rkgttr-img,
.rkgttr-stories-bar .rkgttr-story.rkgttr-loaded:hover .rkgttr-img {
  box-shadow: 0 0 0 .5rem #000;
}

.rkgttr-stories-bar .rkgttr-story.rkgttr-loaded:focus img,
.rkgttr-stories-bar .rkgttr-story.rkgttr-loaded:hover img {
  transform: scale(1);
  filter: grayscale(0%);
}

.rkgttr-stories-bar .rkgttr-story .rkgttr-title {
  margin-top: .5rem;
  text-align: center;
  font-size: .7em;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;

  color: #000;
}

.rkgttr-stories-bar .rkgttr-story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease, filter .3s ease;
  border-radius: 50%;
  transform: scale(1.2);
  filter: grayscale(100%);
}

.rkgttr-stories-bar .rkgttr-story .rkgttr-img {
  border: 1px solid #000;

  box-shadow: 0 0 0 0 #000;
  transition: box-shadow .3s ease;
}

@media (max-aspect-ratio: 0.5555555556) {
  .rkgttr-stories-container .rkgttr-stories .rkgttr-story {
    width: 130vw;
    left: -15vw;
  }
}


@media only screen and (min-width:992px) {
  .rkgttr-stories-container .rkgttr-stories .rkgttr-controls .rkgttr-seek-bars {
    top: 1rem;
  }

  .rkgttr-stories-container .rkgttr-stories .rkgttr-story {
    width: 100%;
    left: 0;
  }

  .rkgttr-stories-container .rkgttr-stories .rkgttr-story-container {
    border-radius: 0.5rem;
    height: 90vh;
    width: 51vh;
    min-width: 0;
    margin-top: 5vh;
  }

  .rkgttr-stories-bar .rkgttr-story {
    width: 4rem;
    min-width: 4rem;
    min-height: 4rem;
  }

  .rkgttr-stories-bar .rkgttr-story:after {
    height: 4rem;
  }

  .rkgttr-stories-bar .rkgttr-story .rkgttr-img {
    height: 4rem;
  }

  .rkgttr-stories-bar.no-swiper .rkgttr-story {
    width: 6rem;
    min-width: 6rem;
    min-height: 6rem;
  }

  .rkgttr-stories-bar.no-swiper .rkgttr-story:after {
    height: 6rem;
  }

  .rkgttr-stories-bar.no-swiper .rkgttr-story .rkgttr-img {
    height: 6rem;
  }

  .rkgttr-stories-bar.no-swiper .stories-bar-swiper-wrapper {
    gap: 2rem 2rem;
  }
}

@keyframes rkgttr-loading {
  0% {
    transform: rotate(0deg) scale(1.1);
  }

  100% {
    transform: rotate(360deg) scale(1.1);
  }
}